element-style {}

html {display: block;}

head {display: none;}

link {display: none;}

body {
	font-family: Verdana, sans-serif;
	text-align: center;
	background-color: black;
	color: white;
 }

h1 {font-size: 50px;}

h1 {
	display: block;
	margin-before: 0.67em;
	margin-after: .67em;
	margin-start: .0px;
	margin-end: .0px;
	font-weight: bold;
 }

p {
	color: gray;
	font-size: 21px;
 }

p {
	display: block;
	margin-before: 1em;
	margin-after: 1em;
	margin-start: .0px;
	margin-end: .0px;
 }

.cta {
	color: aquamarine;
	font-size: 16px;
 }

 a {
	cursor: auto;
	text-decoration: underline;
	text-decoration-line: underline;
	text-decoration-style: initial;
	text-decoration-style: initial;
 }

p {
	color: gray;
	font-size: 21px;
 }

video {object-fit: contain;}

h2 {font-size: 42px;}

h2 {
	display: block;
	margin-before: 0.83em;
	margin-after: .83em;
	margin-start: .0px;
	margin-end: .0px;
	font-weight: bold;
 }

p {
	color: gray;
	font-size: 21px;
 }

.footer {text-align: right;}

div {display: block;}

script {display: none;}

html {display: block;}

body {
	font-family: Verdana, sans-serif;
	text-align: center;
	background-color: black;
	color: white;
 }
